.rightSingle {
    width: auto;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.span {
  color: #000;
  text-transform: uppercase;
  margin: 0 1rem;
}


.inner_span {
  font-size: .9rem;
  font-family: Poppins;
  color:  #262A41;
  opacity: 0.6;
  font-weight: 500;
  margin-left: 0.8rem;
}

.arrowLeft {
  color: #75d6d1;
  cursor: pointer;
}

.singleImgContainer {
  width: 85%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* .imgContainer {
    width: 130%;
} */

.img {
    /* margin: .5rem auto; */
    border:5px solid #75D6D1;
    border-radius: 100px !important;
  }

  .detail_wrapper {
    margin-top: 4.2rem;
  }

  .mid_name {
    text-align: left;
    /* font: normal normal bold 32px/105px Poppins; */
    font-weight: bold;
    font-family: Poppins;
    font-size: 1.3rem;
    line-height: 2;
    letter-spacing: 0.9px;
    color: #262A41;
    opacity: 1;
  }

  .mid_age {
    text-align: left;
    font-family: Poppins;
    font-weight: 200;
    font-size: 1.6rem;
    padding-left: 0.2rem;
    /* font: normal normal 200 32px/105px Poppins; */
    /* letter-spacing: -0.03px; */
    color: #262A41;
    opacity: 1;
  }

  .mid_address {
    text-align: left;
    font-weight: 300;
    font-family: Poppins;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 9px;
    /* font: normal normal 300 23px/98px Poppins; */
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.69;
  }

  .mid_email {
    /* background-color: #fcfcff; */
    background-color: gainsboro;
    /* padding-top: 0.1rem;
    padding-bottom: 0.1rem; */
    border-radius: 1rem;
    /* box-shadow: 10px 10px 40px #0000000D; */
    /* background: #FCFCFF 0% 0% no-repeat padding-box; */

    /* text-align: left; */
    /* font: normal normal medium 18px/68px Poppins; */
    font-family: Poppins;
    font-size: 0.8rem;
    /* font-weight:medium; */
    /* letter-spacing: -0.02px; */
    color: #262A41;
    opacity: 0.52;
    display:inline-block;
    width: max-content;
    margin-top: .9rem;
  }

  .biEnvelope {
    /* padding-left: 1rem; */
  }

  .mid_email > span:nth-child(1) {
    padding-left: 0.8rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    display:inline-block;
}

  .mid_email > span:nth-child(2) {
      padding-right: 0.8rem;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      display:inline-block;
  }


  .other_wrapper {
    margin-top: 1rem;
  }

  .other_wrapper > span:nth-child(1) { 
    color: rgba(38, 42, 65, 0.7);
  }

  .join_date {
    /* background-color: #F935A9 0% 0% no-repeat padding-box; */
    /* opacity: 0.15; */
    background: rgba(249, 53, 169, 0.15);
    border-radius: 1rem;
    font-family: Poppins;
    font-size: 0.7rem;
    /* font: normal normal 600 16px/66px Poppins; */
    letter-spacing: -0.18px;
    /* color: #262A41; */
    text-transform: uppercase;
    /* padding-left: 0.6rem;
    padding-right: 0.6rem; */
    padding: 0.5rem 0.7rem;
    /* color: gainsboro!important; */
    /* color: rgba(38, 42, 65, 0.7); */
    /* opacity: 0.7; */
  }

  .mid_tel {
    margin-top: 1rem;
  }

  .mid_tel > span:nth-child(1) {
    /* border: 2px solid #BABDD1; */
    color: #babdd1;
    opacity: 1;
    
  }


  .mid_tel > span:nth-child(2) {
    text-align: left;
/* font: normal normal medium 17px/68px Poppins; */
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.52;
    font-size: 0.7rem;
  }

  .mid_cell {
    margin-top: 0.7rem;
  }


  .mid_cell > span:nth-child(1) {
    /* border: 2px solid #BABDD1; */
    color: #babdd1;
    opacity: 1;
  }



  .mid_cell > span:nth-child(2) {
    text-align: left;
/* font: normal normal medium 17px/68px Poppins; */
    letter-spacing: -0.02px;
    color: #262A41;
    opacity: 0.52;
    font-size: .7rem;
  }

  .biPhoneCall {

  }

  .biPhoneAndroid {

  }

  .mid_cell {

  }