.rightSingle {
    width: auto;
}

.span{
    color: #000;
    text-transform: uppercase;
}

.arrowLeft {
    color: #75d6d1;
}

.singleImgContainer {
    width: 90%;
    margin-bottom: 3rem;
}

/* .imgContainer {
    width: 130%;
} */

.img {
    /* margin: .5rem auto; */
    border:5px solid #75D6D1;
    border-radius: 100px !important;
  }

  .mid_name {
    text-align: left;
    /* font: normal normal bold 32px/105px Poppins; */
    font-style: bold;
    font-family: Poppins;
    font-size: 1rem;
    letter-spacing: -0.03px;
    color: #262A41;
    opacity: 1;
  }

  .mid_age {
      
  }

  .mid_address {

  }

  .mid_email {

  }

  .other_wrapper {

  }

  .join_date {

  }

  .mid_tel {

  }

  .mid_cell {

  }